<to-top>
  <a
    href="#"
    onclick={onClick}
    class="bg-yellow p-2 text-decoration-none"
  >
    <svg class="feather">
      <use href="/assets/feather.svg#chevrons-up" />
    </svg>
  </a>

  <script>
    export default class {
      onClick(event) {
        event.preventDefault()

        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        })
        document.activeElement.blur()
      }
    }
  </script>
</to-top>
