<footer class="d-block position-relative mt-7">
  <div class="blue-bar py-5 py-xl-6 d-flex align-items-center">
    <div class="container fw-bold text-center">
      EIN VERBUNDPROJEKT DER LEIBNIZ-GEMEINSCHAFT
    </div>
  </div>

  <div class="blue-bar bg-gray border-top border-white py-5 position-relative">
    <to-top></to-top>

    <div class="row g-0">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="col-2">
            <img src="/assets/images/logos/fo_gnm.png" class="img-fluid" />
          </div>
          <div class="col-2">
            <img src="/assets/images/logos/fo_dhi.png" class="img-fluid" />
          </div>
          <div class="col-2">
            <img src="/assets/images/logos/fo_hab.png" class="img-fluid" />
          </div>
          <div class="col-2">
            <img src="/assets/images/logos/fo_ieg.png" class="img-fluid" />
          </div>
          <div class="col-2">
            <img src="/assets/images/logos/fo_ihpan.png" class="img-fluid" />
          </div>
          <div class="col-2">
            <img src="/assets/images/logos/fo_leibniz.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blue-bar bg-blue text-uppercase fw-bold p-5 p-lg-6 p-xl-7 d-flex flex-column flex-sm-row">
    <a href="/login" class="me-auto mb-3">Login</a>
    <a href="/privacy" class="me-3 me-sm-5 me-lg-6">Datenschutz</a>
    <a href="/imprint">Impressum</a>
  </div>
</footer>
