<p><strong>Franziska Bauer M.A. (Herzog August Bibliothek Wolfenbüttel)</strong></p>

<p class="fst-italic mt-5">Vorträge</p>

<p>(gem. mit Anna Lisa Schwartz): „Der Tag als Nürenberg Fried/ Fried! […] geruffen hat“. Klajs Dichtung auf Gedenkblättern zur Zeit des Westfälischen Friedens, Tagung: Johann Klaj (1616-1656) Friedensdichter – Poet – Theologe (Internationale und interdisziplinäre Tagung zu seinem 400. Geburtstag), Friedrich-Alexander-Universität Erlangen-Nürnberg, 22.-24.09.2016</p>

<p>Friedensdichtungen im vormodernen Europa, Werkstattgespräch an der Herzog August Bibliothek, Wolfenbüttel, 23.06.2016</p>

<p>Iustitia, Concordia, Pax – Repräsentation, Vermittlung und Legitimation von Frieden in Dichtungen von 1648 bis 1763, Bericht aus einer Promotionswerkstatt, Studientag „Musica e pace. Nuove Ricerche sull‘ Età moderna“, Deutsches Historisches Institut in Rom, 17.05.2017</p>

<p>Im rechten Glauben vereint – religiöse Toleranz und Differenz in Friedensdichtungen des 17. und 18. Jahrhunderts, Tagung der Knorr-von-Rosenroth-Gesellschaft „Ringen um den rechten Glauben. Orthodoxie, Konfession und Toleranz 150 Jahre nach der Reformation“, Sulzbach, 30.06.-01.07.2017</p>

<p>Iustitia, Concordia, Pax – Repräsentation, Vermittlung und Legitimation von Frieden in Dichtungen von 1648 bis 1763, Vorstellung der Promotion, Forschungskolloquium, Herzog August Bibliothek, Wolfenbüttel, 19.07.2017</p>

<p>Posterpräsentation Promotionsvorhaben, Tagung „Warum Friedenschließen so schwer ist: Der Westfälische Friedenskongress in interdisziplinärer Perspektive“, Rheinische Friedrich-Wilhelm-Universität Bonn, 31.08.-01.09.2017</p>

<p>Iustitia, Concordia, Pax – Repräsentation, Vermittlung und Legitimation von Frieden in Dichtungen von 1648 bis 1763, Vorstellung der Promotion, Forschungskolloquium Seminar für Mittlere und Neuere Geschichte, Universität Göttingen, 28.11.2017</p>

<p>Iustitia, Concordia, Pax - Repräsentation, Vermittlung und Legitimation von Frieden in Dichtungen zwischen 1648 und 1763, Konferenz „Frühe Neuzeit Interdisziplinär: Rethinking Europe - War and Peace in the Early Modern German Lands“, Washington University St. Louis, 08.-10.03.18</p>

<p>Politikum, Erinnerungsort, Informationsquelle – Gelegenheitsdichtung zum Frieden von Hubertusburg, Abschlusstagung des Leibniz-Forschungsprojekts „Repräsentationen des Friedens im vormodernen Europa“, Leibniz-Institut für Europäische Geschichte, Mainz, 28.-30.06.2018</p>

<p class="fst-italic mt-5">Veröffentlichungen</p>

<p>(gem. mit Anna Lisa Schwartz): „Der Tag als Nürenberg Fried/ Fried! […] geruffen hat“. Klajs Dichtung auf Gedenkblättern zur Zeit des Westfälischen Friedens. Erscheint im Band zur Tagung „Johann Klaj (1616–1656). Friedensdichter – Poet – Theologe“, Friedrich-Alexander-Universität Erlangen-Nürnberg, 22.-24.09.2016 [in Redaktion]</p>

<p>Im rechten Glauben vereint – religiöse Toleranz und Differenz in Friedensdichtungen des 17. und 18. Jahrhunderts. In: Jahrbuch der Knorr-von-Rosenroth Gesellschaft: Morgen-Glantz 28 (2018) [im Druck, erscheint vermutlich im Sommer 2018]</p>

<p class="fw-bold mt-6 mt-lg-7">Dr. Sabine Ehrmann-Herfort (Deutschen Historischen Institut in Rom – Musikgeschichtliche Abteilung)</p>

<p class="fst-italic mt-5">Vorträge</p>

<p>(gem. mit Chiara Pelliccia): Topoi di rappresentazione della pace nella musica: cantata italiana e cantata tedesca, XXIII. Jahrestagung der Società Italiana di Musicologia, Conservatorio di Musica Giuseppe Verdi, Como, 22.10.2016</p>

<p>Migrazione di un genere. Sulla diffusione della cantata italiana verso nord, Studientag „Carlo Francesco Cesarini e la cantata a Roma fra Sei e Settecento. Dall’edizione critica all’esecuzione“, organisiert von der Biblioteca Casanatense in Zusammenarbeit mit dem Centro Studi sulla Cantata Italiana (Università di Roma Tor Vergata), der Società Editrice di Musicologia, dem Roma Festival Barocco und dem Deutschen Historischen Institut in Rom, unter der Schirmherrschaft der Società Italiana di Musicologia, Rom, Biblioteca Casanatense, 21.11.2016</p>

<p>Come suona la pace? Modi di rappresentare la pace nella musica intorno al 1700, Vortrag im Rahmen des Studientags „Musica e pace. Nuove ricerche sull’Età moderna“, Deutsches Historisches Institut in Rom, 17.05.2017</p>

<p>Friedensszenarien in Festmusiken Georg Philipp Telemanns, Internationales wissenschaftliches Symposium „Der Komponist als Chronist: Telemanns Gelegenheitsmusik als musikalisches Tagebuch“, veranstaltet von der Frankfurter Telemann-Gesellschaft e. V. in Kooperation mit dem Institut für Musikwissenschaft der Goethe-Universität und der Frankfurter Bürgerstiftung e. V., Frankfurt am Main, 06.10.2017</p>

<p>
„Wohlauf und nimm nun wieder dein Saitenspiel hervor“. Friedensfeste und Friedensmusiken nach dem Dreißigjährigen Krieg, Abschlusstagung des Leibniz-Forschungsprojekts „Repräsentationen des Friedens im vormodernen Europa“, Leibniz-Institut für Europäische Geschichte, Mainz, 28.-30.06.2018</p>

<p class="fst-italic mt-5">Veröffentlichungen</p>

<p>„Dass Gerechtigkeit und Friede sich küssen“ – Repräsentationen des Friedens im vormodernen Europa. Ein interdisziplinäres Verbundprojekt, in: Quellen und Forschungen aus italienischen Archiven und Bibliotheken, hrsg. vom Deutschen Historischen Institut in Rom, Bd. 96, 2016, S. 470-487 (Abstract: &lt;<a href="https://www.perspectivia.net/publikationen/qfiab/96-2016/470-487">https://www.perspectivia.net/publikationen/qfiab/96-2016/470-487</a>&gt;)</p>

<p>Friedensszenarien in Festmusiken Georg Philipp Telemanns, Internationales wissenschaftliches Symposium „Der Komponist als Chronist: Telemanns Gelegenheitsmusik als musikalisches Tagebuch“, Frankfurt am Main 2017 [in Vorbereitung]</p>

<p>(gem. mit Chiara Pelliccia): Themenheft „Musik und Frieden“, in: Die Tonkunst, 13 (2019) [in Vorbereitung]</p>

<p class="fst-italic mt-5">Veranstaltungen</p>

<p>Lehrveranstaltung (Hauptseminar) am Institut für Kunstgeschichte und Musikwissenschaft, Abteilung Musikwissenschaft zum Thema „Repräsentationsformen des Friedens in der Musik“, Johannes-Gutenberg-Universität Mainz, Sommersemester 2014</p>

<p>Konzeption und Organisation des Studientags „Musica e pace. Nuove ricerche sull’Età moderna, Rom, 17.05.2017; außerdem Planung und Organisation des den Studientag beschließenden Konzerts „Iustitia et pax osculatae sunt“. Friedensmusik. Musica e pace dal Quattro al Settecento, mit dem Ensemble Chordis (Christine Streubühr – Gesang, Andrea Damiani – Laute und Chitarrone, Sabine Cassola, Stefania Grillo, Valentina Nicolai – Viole da gamba) &lt;<a href="http://dhi-roma.it/podcast+M5d46e0fc0ae.html">http://dhi-roma.it/podcast+M5d46e0fc0ae.html</a>, <a href="https://vimeo.com/251489979">https://vimeo.com/251489979</a>&gt;</p>

<p class="fw-bold mt-6 mt-lg-7">Peggy Große M.A. (Germanisches Nationalmuseum, Nürnberg)</p>

<p class="fst-italic mt-5">Vorträge</p>

<p>(gem. mit Sarah Wagner): Langzeitinterpretierbarkeit auf Basis des CIDOC CRM in inter- und transdisziplinären Forschungsprojekten am Germanischen Nationalmuseum, 4. Tagung des Verbands Digital Humanities im deutschsprachigen Raum e.V. „Digitale Nachhaltigkeit“, Bern, 13.02.-18.02.2017</p>

<p>Die Projektdatenbank: Die virtuelle Forschungsumgebung WissKI und die semantische Datenmodellierung nach CIDOC CRM, Studientag „Musica e pace. Nuove Ricerche sull‘ Età moderna“, Deutsches Historisches Institut in Rom, 17.05.2017</p>

<p>(gem. mit Laura Albers, Sarah Wagner): Semantic data-modelling and long-term interpretability of cultural heritage data – three case studies, Konferenz „Digital Cultural Heritage“, Berlin, 30.08.-01.09.2017</p>

<p>(gem. mit Laura Albers, Sarah Wagner): Semantische Datenmodellierung mit CIDOC CRM, Workshop Modellierung4DH – Modellierungsfragen in den Digitalen Geisteswissenschaften, Konferenz „Informatik 2017, Digitale Kulturen“, Chemnitz, 25.-29.09.2017</p>

<p>(gem. mit Laura Albers): Semantische Datenmodellierung mit CIDOC-CRM. Gastvorlesung und Übung im Seminar „Digitale Archivierung“, MSc Digitale Denkmaltechnologien, Otto-Friedrich-Universität Bamberg, 25.01.2018</p>

<p>(gem. mit Juliane Hamisch): Interpretation und Unschärfe bei der semantischen Erschließung von historischen Quellen, 5. Tagung des Verbands Digital Humanities im deutschsprachigen Raum e.V. „Kritik der digitalen Vernunft“, Köln, 26.02.-02.03.2018</p>

<p class="fst-italic mt-5">Veröffentlichungen</p>

<p>Überlegungen zur geplanten Datenbank. Die virtuelle Forschungsumgebung WissKI (Germanisches Nationalmuseum Nürnberg), Teil von Sabine Ehrmann-Herfort: "Dass Gerechtigkeit und Friede sich küssen" – Repräsentationen des Friedens im vormodernen Europa. Ein interdisziplinäres Verbundprojekt, in: Quellen und Forschungen aus italienischen Archiven und Bibliotheken 96 (2016), S. 484-485</p>

<p>(gem. mit Laura Albers, Sarah Wagner): Semantische Datenmodellierung mit CIDOC CRM – Drei Fallbeispiele, in: Informatik 2017 (Lecture Notes in Informatics (LNI) – Proceedings. Series of the Gesellschaft für Informatik, P-275), hrsg. von Maximilian Eibl und Martin Gaedke, Bonn 2017, S. 1209-1220</p>

<p>(gem. mit Juliane Hamisch): Interpretation und Unschärfe bei der semantischen Erschließung von historischen Quellen, in: Kritik der digitalen Vernunft, DHd 2018, Köln, Konferenzabstracts, Köln 2018, S. 237-240 (&lt;<a href="http://dhd2018.uni-koeln.de/">http://dhd2018.uni-koeln.de/</a>&gt;)</p>

<p>(gem. mit Laura Albers, Sarah Wagner): Semantic Data-Modelling and Long-term Interpretability of Cultural Heritage Data – Three Case Studies, in: Horst Kremers et al. (Hrsg.): Digital Cultural Heritage, Heidelberg, Berlin 2018 [in Vorbereitung]</p>

<p class="fw-bold mt-6 mt-lg-7">Dr. Henning P. Jürgens (Leibniz-Institut für Europäische Geschichte, Mainz)</p>

<p class="fst-italic mt-5">Vorträge</p>

<p>Das befriedete Land als medialer Raum – Friedenspredigten der Frühen Neuzeit als Friedensmedien, Tagung „Wissensräume – Zeiträume. Transformationen Roms in der Vormoderne“ des Tübinger Graduiertenkollegs „Religiöses Wissen im vormodernen Europa“, Rom, 10.–15.10.2016</p>

<p>
Friedenspredigten in der Frühen Neuzeit und „Dass Gerechtigkeit und Friede sich küssen“. Repräsentationen des Friedens im vormodernen Europa. Ein Forschungsprojekt, Studientag „Musica e pace. Nuove Ricerche sull‘ Età moderna“, Deutsches Historisches Institut in Rom, 17.05.2017</p>

<p>Early Modern Lutheran Peace Sermons, Seminar 19: “The impact of Luther’s postils and exegetical writings on Reformation and Counter-Reformation preaching“, Leitung: Austra Reinis. Internationaler Kongress für Lutherforschung 2017, Wittenberg, 30.07.–04.08.2017</p>

<p>Gedruckte Predigten zwischen Mündlichkeit und Schriftlichkeit, Tagung „Wahrheit – Geschwindigkeit – Pluralität. Chancen und Herausforderungen durch den Buchdruck im Zeitalter der Reformation“, Mainz, 01.–03.03.2018</p>

<p>Naher Krieg und ferner Frieden. Friedenspredigten und Kriegserfahrungen, Abschlusstagung des Leibniz-Forschungsprojekts „Repräsentationen des Friedens im vormodernen Europa“, Leibniz-Institut für Europäische Geschichte, Mainz, 28.-30.06.2018</p>

<p class="fst-italic mt-5">Veröffentlichungen</p>

<p>Ronneburg bei Gera, in: Ortstermine. Umgang mit Differenz in Europa, hrsg. für das Leibniz-Institut für Europäische Geschichte (IEG) von Joachim Berger, Irene Dingel und Johannes Paulmann, Mainz 2016 &lt;<a href="https://www.ieg-differences.eu/ortstermine/henning-juergens-ronneburg">https://www.ieg-differences.eu/ortstermine/henning-juergens-ronneburg</a>, URN: urn:nbn:de:0159-20161020378&gt;</p>

<p>Friedensrepräsentationen in der Frühen Neuzeit: Friedensfeiern, -predigten und -lieder, in: Religion und Politik. Eine Quellenanthologie zu gesellschaftlichen Konjunkturen in der Neuzeit. Hrsg. von Leibniz-Institut für Europäische Geschichte (IEG) &lt;URL: <a href="https://wiki.ieg-mainz.de/konjunkturen/index.php?title=Friedensrepräsentationen_in_der_Frühen_Neuzeit">https://wiki.ieg-mainz.de/konjunkturen/index.php?title=Friedensrepräsentationen_in_der_Frühen_Neuzeit</a>&gt;</p>

<p>Friedenspredigten, Teil von: Sabine Ehrmann-Herfort: "Dass Gerechtigkeit und Friede sich küssen" – Repräsentationen des Friedens im vormodernen Europa. Ein interdisziplinäres Verbundprojekt, in: Quellen und Forschungen aus italienischen Archiven und Bibliotheken 96 (2016), S. 479-484</p>

<p class="fw-bold mt-6 mt-lg-7">Dr. Matthias Nuding (Germanisches Nationalmuseum, Nürnberg)</p>

<p class="fst-italic mt-5">Vorträge</p>

<p>Medaillen auf Jubiläen der Confessio Augustana und des Augsburger Religionsfriedens, Vortrag im Rahmen des Veranstaltungsprogramms des Vereins für Münzkunde, Germanisches Nationalmuseum, Nürnberg, 12.07.2017</p>

<p>Gedenken und Identität. Zur bildlichen Gestaltung von Friedensjubiläen, Abschlusstagung des Leibniz-Forschungsprojekts „Repräsentationen des Friedens im vormodernen Europa“, Leibniz-Institut für Europäische Geschichte, Mainz, 28.-30.06.2018</p>

<p class="fw-bold mt-6 mt-lg-7">Dott.ssa Chiara Pelliccia (Deutschen Historischen Institut in Rom – Musikgeschichtliche Abteilung)</p>

<p class="fst-italic mt-5">Vorträge</p>

<p>Rappresentazioni di Pace nella musica: cantata e dintorni, Mittwochsvortrag, Deutsches Historisches Institut in Rom, 16.03.2016</p>

<p>Topoi of the Representation of Peace in the Italian Cantata, 65th Congress of the International Association of Music Libraries, Archives and Documentation Centres (IAML), Auditorium Parco della Musica, Rom, 03.-08.07.2016</p>

<p>Storia, arte, musica e feste per la pace nelle carte dell’Archivio di Saint Louis des Française à Rome, Archives des Pieux Etablissements de la France à Rome et Lorette, Rom, 04.10.2016</p>

<p>(gem. mit Sabine Ehrmann-Herfort): Topoi di rappresentazione della pace nella musica: cantata italiana e cantata tedesca, XXIII. Convegno Annuale della Società Italiana di Musicologia, Conservatorio di Musica ‘Giuseppe Verdi’, Como, 21.-23.10.2016</p>

<p>
Le cantate natalizie per il palazzo Apostolico tra pace europea e guerra ‘santa’, Konferenz „Music and Power in the Baroque Era“, Centro studi opera omnia Luigi Boccherini, Complesso Monumentale di San Micheletto, Lucca, 11.-13.11.2016</p>

<p>„In lode di Sua maestà Carlo III monarca delle Spagne“: figure e funzioni delle rappresentazioni della pace nella cantata italiana, sec. XVII-XVIII, Projektvorstellung auf der Beiratssitzung, Deutsches Historisches Institut in Rom, 04.03.2017</p>

<p>Riflessi della pace di Rijswijk sul mare di Anzio: cantata e apparati per la visita di Innocenzo XII all'antico porto neroniano, Studientag „Musica e pace. Nuove Ricerche sull‘ Età moderna“, Deutsches Historisches Institut in Rom, 17.05.2017</p>

<p>Politica, rivolte, violenza. Riflessi nel lamento per musica secentesco, Internationales Colloquium „La violence dans la révolte. Expériences politiques et pratiques culturelles, XIVe-XVIIIe siècles“, École française de Rome, 12.-14.06.2017</p>

<p>Music for Peace and Peace in Music. Figures, Uses and Meanings in Baroque Italy, Abschlusstagung des Leibniz-Forschungsprojekts „Repräsentationen des Friedens im vormodernen Europa“, Leibniz-Institut für Europäische Geschichte, Mainz, 28.-30.06.2018</p>

<p>„...mandi V.E, con sollecitudine le musiche richieste, e non dubiti assolutamente...“. Musica, musicisti e diplomazia in età moderna, IV. Seminario Europeo di Studi “Esperienza e diplomazia”, École française de Rome, 03.-04.12.2018</p>

<p class="fst-italic mt-5">Veröffentlichungen</p>

<p>Topoi der Friedensrepräsentationen in der italienischen Kantate des 17. bis 18. Jahrhunderts, in Teil von Sabine Ehrmann-Herfort: "Dass Gerechtigkeit und Friede sich küssen" – Repräsentationen des Friedens im vormodernen Europa. Ein interdisziplinäres Verbundprojekt, in: Quellen und Forschungen aus italienischen Archiven und Bibliotheken 96 (2016), S. 479-484</p>

<p>Topoi di rappresentazione della pace nella cantata italiana, Blog-Beitrag in: &lt;<a href="https://musicaroma.hypotheses.org/741">https://musicaroma.hypotheses.org/741</a>&gt;, 24.05.2016</p>

<p>Friedensrepräsentationen – Un`opportunità di incontro tra musicologia e digital humanities, Blog-Beitrag in: &lt;<a href="https://musicaroma.hypotheses.org/775">https://musicaroma.hypotheses.org/775</a>&gt;, 13.06.2016</p>

<p>Topoi of representation of Peace in the Italian Cantata. Flyer der Musikgeschichtlichen Abteilung für das „65th International IAML Meeting“, Rom, Parco della Musica, 03.-08.07. 2016</p>

<p>Le cantate natalizie per il palazzo Apostolico fra tradizione musicale e politiche pontificie. Uno sguardo ai topoi della pace, in: Music and Power in the Baroque Era, hrsg. von Rudolf Rasch, Turnhout 2018</p>

<p>Narrazioni della violenza nel lamento per musica secentesco, in: publication du Colloque International de Rome La violence dans la révolte. Expériences politiques et pratiques culturelles, dir. par Lourant Bourquin, Rennes 2018 [in Redaktion]</p>

<p>“In riva al bel Sebeto, riposando la Pace...”. Topoi des Friedens in Kriegszeiten in der neapolitanischen Kantate und Serenade, in: Die Tonkunst, 13 (2019) [in Vorbereitung]</p>

<p class="fw-bold mt-6 mt-lg-7">Anna Lisa Schwartz, M.A. (Germanisches Nationalmuseum, Nürnberg)</p>

<p class="fst-italic mt-5">Vorträge</p>

<p>(gem. mit Franziska Bauer): „Der Tag als Nürenberg Fried/ Fried! […] geruffen hat“. Klajs Dichtung auf Gedenkblättern zur Zeit des Westfälischen Friedens, Tagung: Johann Klaj (1616-1656) Friedensdichter – Poet – Theologe (Internationale und interdisziplinäre Tagung zu seinem 400. Geburtstag), Friedrich-Alexander-Universität Erlangen-Nürnberg, 22.-24.09.2016</p>

<p>"Nicht mit Blut sonder dinten / Not with blood but with ink" The rising and falling impact of early modern diplomacy on images of peace between the 17th and 18th century, Studientag „Musica e pace. Nuove Ricerche sull‘ Età moderna“, Deutsches Historisches Institut in Rom, 17.05.2017</p>

<p>"IVNGVNTUR IVPPITER ET SOL" - Picturing Peace between Louis XIV and Charles VI after the Treaty of Rastatt (1714), Internationales Symposium „Fluctuating alliances: art, politics and diplomacy in the Modern Era (XVI-XVIIIth centuries)“, Technische Universität Berlin, 21.09.2017</p>

<p>Das Jahr der niederländischen Freiheit 1748. Posterpräsentation in der Nachwuchssektion der Tagung „Warum Friedenschließen so schwer ist: Der Westfälische Friedenskongress aus interdisziplinärer Perspektive/The Difficulties of Peacemaking. The Westphalian Peace Congress from an interdisciplinary Perspective“, Rheinische Friedrich-Wilhelms-Universität, Bonn, 31.08.2017</p>

<p>
Johann Michael Roths „Augspurgisches Iubel-Gedächtnüs“. Protestantische Gedenkblätter zwischen Sammelleidenschaft und Alltagsgebrauch, Internationale Tagung „Protestantische Bilderwelten. Glaube und Selbstverständnis im Spiegel der Druckgraphik“, Kunstsammlungen der Veste Coburg. 09.–10.10.2017</p>

<p>Vorstellung des Dissertationsprojektes (Poster) im Rahmen der ANKK-Jahrestagung "Batavia in Bavaria", München, 12.-14.10.2017</p>

<p>Picturing Peace with the Ottoman Empire. Prints and Medals on the Occasion of the Treaty of Passarowitz (1718), Konferenz „Frühe Neuzeit Interdisziplinär: Rethinking Europe - War and Peace in the Early Modern German Lands“, Washington University St. Louis, 08.-10.03.2018</p>

<p>Rückbesinnung auf die Blütezeit der Republik: das hundertjährige Jubiläum von Münster in den Niederlanden, Abschlusstagung des Leibniz-Forschungsprojekts „Repräsentationen des Friedens im vormodernen Europa“, Leibniz-Institut für Europäische Geschichte, Mainz, 28.-30.06.2018</p>

<p>Friedenssehnsucht auf Papier und in Silber. Flugblätter und Medaillen im Dreißigjährigen Krieg. Herbsttagung des Arbeitskreis FNZ der HiKo Nds./Bremen „Erinnerungen des Dreißigjährigen Krieges: Medien, Orte, Zeiten“, Hannover, 23.11.2018</p>

<p class="fst-italic mt-5">Veröffentlichungen</p>

<p>Vermittlungs- und Visualisierungsstrategien frühneuzeitlicher Friedensereignisse (Germanisches Nationalmuseum Nürnberg), Teil von Sabine Ehrmann-Herfort: "Dass Gerechtigkeit und Friede sich küssen" – Repräsentationen des Friedens im vormodernen Europa. Ein interdisziplinäres Verbundprojekt, in: Quellen und Forschungen aus italienischen Archiven und Bibliotheken 96 (2016), S. 475–477</p>

<p>"Deß armen Manns sehnliche Klag". Friedensvisionen im Dreißigjährigen Krieg, in: Wissenschaft und Frieden 1 (2017), S. 25–28</p>

<p>"De Haagse Vyver-nimf duykt onder voor 't geklater van lucht- vuur- en waterwerk" Feestgedruis bij de Vrede van Aken als multimediale propaganda voor Willem IV, in: Jaarboek Geschiedkundige Vereniging Die Haghe 2017, S. 27–53</p>

<p>(gem. mit Franziska Bauer): Medienwechsel mit Folgen? Klajs Friedensdichtungen auf Gedenkblättern aus den Verlagen Fürst und Endter. Erscheint im Band zur Tagung "Johann Klaj (1616–1656). Friedensdichter – Poet – Theologe", Friedrich-Alexander-Universität Erlangen-Nürnberg, 22.-24.9.2016 [in Redaktion]</p>

<p>Gedruckte Medaillenbeschreibungen des 18. Jahrhunderts - Ein Annäherungsversuch am Beispiel von Friedensmedaillen, erscheint in: Numismatisches Nachrichtenblatt [in Redaktion]</p>

<p class="fst-italic mt-5">Rezensionen</p>

<p>[Rezension zu:] Jensen, Lotte: Vieren Van Vrede. Het onstaan van de Nederlandse identiteit, 1648–1815, Nimwegen 2016, in: H-ArtHist, 14.2.2017 &lt;<a href="https://arthist.net/reviews/14776">https://arthist.net/reviews/14776</a>&gt;</p>

<p>[Rezension zu:] Frieden. Von der Antike bis heute (Münster) (Fünf Ausstellungen in Münster: LWL-Museum für Kunst und Kultur, Bistum Münster, Stadtmuseum Münster, Kunstmuseum Pablo Picasso und Archäologisches Museum der Universität Münster, 24.4. - 2.9.2018), in: ArtHist.net, 5.6.2018 &lt;<a href="https://arthist.net/reviews/18323">https://arthist.net/reviews/18323</a>&gt;</p>

<p class="fw-bold mt-6 mt-lg-7">Marius Wittke (Germanisches Nationalmuseum, Nürnberg)</p>

<p class="fst-italic mt-5">Vortrag</p>

<p>Figurationen der Zeit in Friedensbildern, Abschlusstagung des Leibniz-Forschungsprojekts „Repräsentationen des Friedens im vormodernen Europa“, Leibniz-Institut für Europäische Geschichte, Mainz, 28.-30.06.2018</p>

<p class="fw-bold mt-6 mt-lg-7">Tagungsberichte</p>

<p>Giuseppina Crescenzo: Musica e pace. Nuove ricerche sull’Età moderna, Deutsches Historisches Institut Rom, 17. Mai 2017, (Tagungsbericht), in: Gesellschaft für Musikforschung, 2017 &lt;<a href="https://www.musikforschung.de/index.php/aktuelles/tagungen-kongresse/tagungsberichte/tagungsberichte-2017/1442-rom-17-mai-2017">https://www.musikforschung.de/index.php/aktuelles/tagungen-kongresse/tagungsberichte/tagungsberichte-2017/1442-rom-17-mai-2017</a>&gt;</p>

<p>Giuseppina Crescenzo: Musica e pace. Nuove ricerche sull’Età moderna, Deutsches Historisches Institut Rom, 17. Mai 2017 (Tagungsbericht), in: Die Tonkunst, 11-4 (2017), S. 517-519</p>

<p>Giuseppina Crescenzo: Musica e pace (Tagungsbericht), in: Musica, 49 (2017), S. 29-31</p>
