<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="{{site.description}}" />
    <meta name="wisski-url" content="{{site.wisski_url}}" />

    <link
      rel="shortcut icon"
      href="/assets/images/favicon.png"
      type="image/png"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/app.css{% cache_buster %}"
      crossorigin="use-credentials"
    />

    <title>{{site.title}}</title>
  </head>
  <body class="position-relative" style="display: none">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script
      src="/assets/app.js{% cache_buster %}"
      crossorigin="use-credentials"
    ></script>
  </body>
</html>
