@function actual-vw($amount) {
  @return calc((var(--vw, 1vw) * $amount));
}


// all breakpoints

.breakout {
  max-width: actual-vw(100);
  overflow-x: hidden;
}

@include media-breakpoint-up('xs') {
  $mw: calc((actual-vw(100) - actual-vw(98)) / -2 - $container-padding-x);

  .breakout {
    margin: 0 $mw;
  }
}

@include media-breakpoint-up('sm') {
  $mw: calc((actual-vw(100) - 400px) / -2 - $container-padding-x);

  .breakout, .breakout-sm {
    margin: 0 $mw;
  }
}

@include media-breakpoint-up('md') {
  $mw: calc((actual-vw(100) - 500px) / -2 - $container-padding-x);

  .breakout, .breakout-sm, .breakout-md {
    margin: 0 $mw;
  }
}

@include media-breakpoint-up('lg') {
  $mw: calc((actual-vw(100) - 614px) / -2 - $container-padding-x);

  .breakout, .breakout-sm, .breakout-md, .breakout-lg {
    margin: 0 $mw;
  }
}

@include media-breakpoint-up('xxl') {
  $mw: calc((1920px - 614px) / -2 - $container-padding-x);

  .breakout, .breakout-sm, .breakout-md, .breakout-lg {
    width: 1920px;
    margin: 0 $mw;
  }
}
