exhibition-grid {
  #category-selector {
    .btn:hover {
      color: $orange;
    }
  }
  // .category-links {
  //   a {
  //     color: $gray-600;
  //     text-decoration: none;
  //     display: block;
  //   }

  //   a.active {
  //     color: $gray-900;
  //   }

  //   a:hover {
  //     color: $orange;
  //   }
  // }

  .grid {
    .tile {
      position: relative;
      margin-bottom: map-get($spacers, 5);
    }

    .caption {
      margin-top: map-get($spacers, 4);
      padding: 0 map-get($spacers, 3);
    }

    img {
      width: 100%;
    }
  }
}

@include media-breakpoint-up('sm') {
  exhibition-grid {
    // .category-links {
    //   a {
    //     text-align: center;
    //   }
    // }

    .grid {
      .tile {
        padding: map-get($spacers, 3);
      }

      .frame {
        height: 15rem;
      }

      img {
        max-height: 15rem;
        width: auto;
        max-width: 100%;
      }

      .caption {
        text-align: center;
        padding: 0;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  exhibition-grid {
    // .category-links {
    //   a {
    //     display: inline;
    //     white-space: nowrap;
    //   }
    // }

    .grid {
      .tile {
        margin-bottom: map-get($spacers, 6);
      }

      .frame {
        height: 18rem;
      }

      img {
        max-height: 18rem;
      }
    }
  }
}
