@use "sass:color";

.exhibition-category-tile {
  margin: map-get($spacers, 4) 0;

  .caption {
    font-family: corporates-bold;
    text-transform: uppercase;
    text-align: center;

    padding: map-get($spacers, 2);
  }
}

@include media-breakpoint-up('sm') {
  .exhibition-category-tile {
    .caption {
      font-size: 1.4rem;
      padding: map-get($spacers, 3);
    }
  }
}

@include media-breakpoint-up('md') {
  .exhibition-category-tile {
    margin: map-get($spacers, 5) 0;
  }
}


@include media-breakpoint-up('lg') {
  .exhibition-category-tile {
    margin-bottom: -61px;

    .caption {
      position: relative;
      top: -61px;
      color: white;
      font-size: 1.6rem;
      padding-left: map-get($spacers, 4);
    }

    .overlay-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.8;
      background-color: $yellow;
    }

    .text {
      position: relative;
      display: block;
    }
  }

  .exhibition-category-tile:nth-child(2n + 1) {
    padding-right: map-get($spacers, 5) / 2;
  }

  .exhibition-category-tile:nth-child(2n) {
    padding-left: map-get($spacers, 5) / 2;
  }
}

@include media-breakpoint-up('xl') {
  .exhibition-category-tile {
    margin-bottom: -84px + 30px;

    .caption {
      top: -84px;
      font-size: 2rem;
      padding: map-get($spacers, 4);
    }
  }

  .exhibition-category-tile:nth-child(2n + 1) {
    padding-right: map-get($spacers, 6) / 2;
  }

  .exhibition-category-tile:nth-child(2n) {
    padding-left: map-get($spacers, 6) / 2;
  }
}
