exhibition-grid {
  #category-selector {
    .btn:hover {
      color: $orange;
    }

    .btn:active {
      outline: none;
    }
  }

  .grid {
    .frame {
      position: relative;

      .dummy-text {
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-shadow: black 0 0 3px;
      }
    }

    .tile {
      position: relative;
      margin-bottom: map-get($spacers, 5);
    }

    .caption {
      margin-top: map-get($spacers, 4);
      padding: 0 map-get($spacers, 3);
    }

    img {
      width: 100%;
    }
  }
}

@include media-breakpoint-up('sm') {
  exhibition-grid {
    .grid {
      .tile {
        padding: map-get($spacers, 3);
      }

      .frame {
        height: 15rem;
      }

      img {
        max-height: 15rem;
        width: auto;
        max-width: 100%;
      }

      .caption {
        text-align: center;
        padding: 0;
      }
    }
  }
}

@include media-breakpoint-up('md') {
  exhibition-grid {
    .grid {
      .frame {
        height: 18rem;
      }

      img {
        max-height: 18rem;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  exhibition-grid {
    .grid {
      .tile {
        margin-bottom: map-get($spacers, 6);
      }
    }
  }
}
