.breakout.header-breakout {
  overflow-x: initial;
}

nav {
  .active {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .active-block {
    display: none;
    margin: 0 0.5rem;
  }

  .navbar-toggler {
    border: none;
  }
}

nav.navbar-dark {
  .navbar-nav {
    .nav-link:focus {
      color: white;
    }

    .nav-link:hover {
      color: $orange;
    }
  }
}

@include media-breakpoint-up('lg') {
  nav {
    .active {
      text-decoration: none;

      .active-block {
        display: block;
        position: relative;
        background-color: white;
        height: 10px;
        margin-bottom: -10px;
        top: 25px;
      }
    }
  }
}

