@use "sass:color";

// backgrounds

.bg-blue {
  background-color: $blue;
}

.bg-orange {
  background-color: $orange;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-yellow-overlay {
  background-color: color.change($yellow, $alpha: 0.6);
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-purple {
  background-color: $gray-purple;
}


// text

@include media-breakpoint-up('md') {
  .fs-md-3 {
    font-size: $h3-font-size;
  }
}

@include media-breakpoint-up('md') {
  .fs-lg-2 {
    font-size: $h2-font-size;
  }
}

// $h1-font-size:                $font-size-base * 2.5 !default;
// $h2-font-size:                $font-size-base * 2 !default;
// $h3-font-size:                $font-size-base * 1.75 !default;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;


// widths

.w-10 {
  width: 10%;
}

.overflow-x-hidden {
  overflow-x: hidden;
}


// position

.start-10 {
  left: 10%;
}

.bottom-10 {
  bottom: 10%;
}