@use "sass:color";

// backgrounds

.bg-blue {
  background-color: $blue;
}

.bg-orange {
  background-color: $orange;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-yellow-overlay {
  background-color: color.change($yellow, $alpha: 0.6);
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-purple {
  background-color: $gray-purple;
}


// text

@include media-breakpoint-up('sm') {
  .fs-sm-6 {
    font-size: $h6-font-size !important;
  }
}

@include media-breakpoint-up('md') {
  .fs-md-3 {
    font-size: $h3-font-size !important;
  }
}

@include media-breakpoint-up('lg') {
  .fs-lg-2 {
    font-size: $h2-font-size !important;
  }
}


// widths

.w-10 {
  width: 10%;
}

@include media-breakpoint-up('xl') {
  .w-xl-100 {
    width: 100%;
  }
}

.mw-50 {
  max-width: 40%;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

@include media-breakpoint-up('md') {
  .ratio-md-21x9 {
    --bs-aspect-ratio: 42%;
  }
}


// position

.start-10 {
  left: 10%;
}

.bottom-10 {
  bottom: 10%;
}
